.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
Gemfile.lock

*~
source/assets/printables/
source/assets/miscs/

*.aux
*.hst
*.log
*.out
*.synctex.gz
*.toc
*.ver
*.bbl
*.blg
*.xdv

