// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#markdown-toc:before {
  content: "Table of Contents";
  font-weight: bold;
}
ul#markdown-toc {
  list-style: none;
  float: right;
  @include shadow-box;
  background-color: white;
}
.blog-index #markdown-toc {
  display: none;
}

.footnotes {
  font-size: 13px;
  line-height: 16px;
  color: #666;

  p {
    margin-bottom: 6px;
  }
}

.printable {
  img, a {border:none; outline: none; text-decoration: none;};
}

